<section class="forgot_pass">
  <%= image_tag("Agorae-icon.png", class: "icon") %>
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <div class="forgot_pass_box">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "forgot-btn" %>
          </div>
        <% end %>

          <div class="row">
            <div class="large-12 columns">
              <div class="link_devise">
                 <%= render "devise/shared/links" %>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>