<section class="sector_about_us">
  <div class="layer">
    <nav class="top-bar" data-topbar role="navigation" data-magellan-expedition="fixed">
      <div class="row">
        <div class="large-12 columns">
          <section class="top-bar-section">
            <ul class="left"><%= image_tag("Agorae-icon.png", class: "icon") %></ul>
             <ul class="right">
              <li><%= link_to "Home", '/'  %></li>
              <li><%= link_to "Events", '/events'  %></li>
              <li><%= link_to "About Us", '/about_us'  %></li>
              <li><%= link_to "Contact Us", '/contact_us'  %></li>
              <li><%= link_to "Register", new_user_registration_path  %></li>
            </ul>
          </section>
          </div>
        </div>
      </nav>
      <div class="about_us_content">
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-6 large-offset-4 columns">
                <p>ABOUT US</p>
                <%= image_tag("separatorA.png", class: "line") %>
              </div>
            </div>
          </div>
          <div class="rows">
            <div class="large-12 columns">
              <ul class="tabs" data-tab="">
                <li class="tab-title active"><a href="#panel1">Agorae</a></li>
                <li class="tab-title"><a href="#panel2">Creators</a></li>
                <li class="tab-title"><a href="#panel3">Growth</a></li>
              </ul>
              <div class="hr-line"></div>
              <div class="tabs-content">
                <div class="content active" id="panel1">
                  <p><b><i>Agorae</i></b> will be one of the largest network of people. Agorae will make it easier to reach out to our friends, acquaintances and to other people to gather for a certain celebration or meeting to be held. With the use of Agorae, events will be organize without any dilly dallies and with ease. </p>
                  <p>Agorae's mission is to make people become more closer and closer each day everytime a meeting will be helod</p>
                </div>
                <div class="content " id="panel2">
                  <div class="row">
                    <div class="large-5 large-offset-1 columns">
                      <div class="first_creator">
                        <%= image_tag("02.jpg") %>
                        <div class="white_box">
                          <p class="title">Lorem Ipsum Iveto</p>
                          <p class="subtitle"><i>"Quisquam est qui dolorem ipsum quia dolor"</i></p>
                        </div>
                      </div>
                    </div>
                    <div class="large-5 large-pull-1 columns">
                      <div class="second_creator">
                        <%= image_tag("98.jpg") %>
                        <div class="white_box">
                          <p class="title">Lorem Ipsum Iveto</p>
                          <p class="subtitle"><i>Quisquam est qui dolorem ipsum quia dolor</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content" id="panel3">
                  <p class="title">Agorae will be launched as soon as possible.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<script>
  $(document).foundation();
</script>