<section class="sector_one">
  <div class="layer">
    <nav class="top-bar" data-topbar role="navigation" data-magellan-expedition="fixed">
      <div class="row">
        <div class="large-12 columns">
          <section class="top-bar-section">
            <ul class="left"><%= image_tag("Agorae-icon.png", class: "icon") %></ul>
             <ul class="right">
              <li><%= link_to "Home", '/'  %></li>
              <li><%= link_to "Events", '/events'  %></li>
              <li><%= link_to "About Us", '/about_us'  %></li>
              <li><%= link_to "Contact Us", '/contact_us'  %></li>
              <li><%= link_to "Register", new_user_registration_path  %></li>
            </ul>
          </section>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-8 large-offset-2  columns">
              <div class="creative-title">
                <div class="title">
                  <%= image_tag("Agorae-icon.png", class: "icon") %>
                </div>
                <div class="subtitle">
                  <h2 class="subheader">
                    Donec sollicitudin molestie malesuada.
                  </h2>
                </div>
                <div class="buttons">
                  <a href="#" class="button explore-btn">Explore</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="sector_two">
  <div class="row">
    <div class="large-12 columns">
      <div class="title">
        <h3 class="text-center">Event Focus</h3>
      </div>
      <ul class="small-block-grid-3">
        <li>
          <div class="row">
            <div class="large-4 large-offset-4 columns">
              <%= image_tag("browser.png") %>
            </div>
          </div>
          <div class="title">
            <p class="text-center">Better Browsing</p>
          </div>
          <div class="description">
            <p class="text-justify">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="large-4 large-offset-4 columns">
              <%= image_tag("networking.png") %>
            </div>
          </div>
          <div class="title">
            <p class="text-center">Smarter Networking</p>
          </div>
          <div class="description">
            <p class="text-justify">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="large-4 large-offset-4 columns">
              <%= image_tag("strategist.png") %>
            </div>
          </div>
          <div class="title">
            <p class="text-center">Seo Strategist</p>
          </div>
          <div class="description">
            <p class="text-justify">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="sector_three">
  <div class="looking_for">
    <div class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <%= image_tag("dummyimage04") %>
          </div>
          <div class="large-6 columns">
            <div class="title">
              <h2>Looking for Events?</h2>
            </div>
            <div class="sub-title">
              <h4 class="subheader">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque</h4>
              <h5 class="subheader">
                Donec sollicitudin molestie malesuada.
              </h5>
            </div>
            <div class="buttons">
              <%= link_to "Register", new_user_registration_path, :class => 'button explore-btn'  %>
              <%= link_to "Sign In", new_user_session_path, :class => 'button sign-up-btn'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sector_four">
  <div class="events">
    <div class="row">
      <div class="large-12 columns">
        <div class="title">
          <p class="left">
            Upcoming Events
          </p>
          <p class="right">
            All Events
          </p>
        </div>
        <div class="list_of_events">
          <ul class="large-block-grid-3">
            <li>
              <div class="event_content">
                <%= image_tag("dummyimage01", class: "event_image") %>
                <div class="event_date">
                  <p class="text-center">11
                    <br/>
                    April
                    <br/>
                    2015
                  </p>
                </div>
                <div class="row">
                  <div class="large-7 columns">
                    <div class="details_content">
                      <div class="event_title">
                        <p>Event Title</p>
                      </div>
                      <div class="event_address">
                        <p>Ayala Makati City</p>
                      </div>
                      <div class="event_time">
                        7:00pm - 9:00pm
                      </div>
                    </div>
                  </div>
                  <div class="large-5 columns">
                    <div class="ticket_availability">
                      <%= image_tag("ticket.png", class: "ticket") %>
                      <p class="text-center">Free</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="event_content">
                <%= image_tag("dummyimage02", class: "event_image") %>
                <div class="event_date">
                  <p class="text-center">11
                    <br/>
                    April
                    <br/>
                    2015
                  </p>
                </div>
                <div class="row">
                  <div class="large-7 columns">
                    <div class="details_content">
                      <div class="event_title">
                        <p>Event Title</p>
                      </div>
                      <div class="event_address">
                        <p>Ayala Makati City</p>
                      </div>
                      <div class="event_time">
                        7:00pm - 9:00pm
                      </div>
                    </div>
                  </div>
                  <div class="large-5 columns">
                    <div class="ticket_availability">
                      <%= image_tag("ticket.png", class: "ticket") %>
                      <p class="text-center">Free</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="event_content">
                <%= image_tag("dummyimage03", class: "event_image") %>
                <div class="event_date">
                  <p class="text-center">05
                    <br/>
                    May
                    <br/>
                    2015
                  </p>
                </div>
                <div class="row">
                  <div class="large-7 columns">
                    <div class="details_content">
                      <div class="event_title">
                        <p>Event Title</p>
                      </div>
                      <div class="event_address">
                        <p>Ayala Makati City</p>
                      </div>
                      <div class="event_time">
                        7:00pm - 9:00pm
                      </div>
                    </div>
                  </div>
                  <div class="large-5 columns">
                    <div class="ticket_availability">
                      <%= image_tag("ticket.png", class: "ticket") %>
                      <p class="text-center">Free</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sector_five">
  <div class="row">
    <div class="large-4 columns">
      <div class="recent_event">
        <div class="title">
          <p class="left">Recent Events</p>
          <p class="right">All Events</p>
        </div>
        <div class="event_content">
          <%= image_tag("dummyimage02", class: "event_image") %>
          <div class="event_details">
            <div class="event_title">
              <p>Event Title</p>
            </div>
            <div class="event_date">
              <p>June 1, 2015</p>
            </div>
            <div class="event_description">
              <p>Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
            </div>
          </div>
        </div>
        <div class="event_content">
          <%= image_tag("dummyimage01", class: "event_image") %>
          <div class="event_details">
            <div class="event_title">
              <p>Event Title</p>
            </div>
            <div class="event_date">
              <p>June 1, 2015</p>
            </div>
            <div class="event_description">
              <p>Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-8 columns">
      <div class="featured_event">
        <div class="title">
          <p>Featured Events</p>
        </div>
        <div class="event_content">
          <div class="row">
            <div class="large-6 columns">
              <div class="row">
                <div class="large-5 columns">
                  <p class="event_date text-center">
                    June<br/>12<br/>2015
                  </p>
                </div>
                <div class="large-7 columns">
                  <a href="" class="button reserve-btn">Reserve Me</a>
                </div>
              </div>
              <dl>
                <dt>Date</dt>
                <dd>June 12, 2015</dd>
                <dt>Venue</dt>
                <dd>Lorem Ipsum</dd>
                <dt>Cost</dt>
                <dd>Free</dd>
                <dt>Event Category</dt>
                <dd>Wordcamp</dd>
                <dt>Event Tags</dt>
                <dd>Wordpress, Html5</dd>
                <dt>Website</dt>
                <dd>www.site.com</dd>
              </dl>
              <a href="" class="button view-btn">View More</a>
            </div>
            <div class="large-6 columns">
              <div class="event_title">
                <h5>Event Title</h5>
                <%= image_tag("dummyimage05", class: "event_image") %>
              </div>
              <div class="event_description">
                <p>Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
                <p>Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="event_subscribe">
            <div class="row">
              <div class="large-6 columns">
                <h5>Subscribe to Our letters</h5>
                <h6>Never Miss our daily newsletter.</h6>
              </div>
              <div class="large-6 columns">
                <div class="row collapse">
                  <div class="large-8 columns">
                    <input type="text" placeholder="Email Address">
                  </div>
                  <div class="large-3 large-pull-1 columns">
                    <a href="" class="button send-btn">Subscribe</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sector_six">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center">
        What are you waiting for?
      </h2>
      <h4 class="subheader text-center">Don't Wait! Register Now!</h4>
      <div class="row">
        <div class="large-3 large-centered columns">
          <%= link_to "Reserve Me", new_user_registration_path, :class => 'button register-btn'  %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="row">
    <div class="large-12 columns">
      <div class="left">
    <p>Copyright Michelle Nonato</p>
      </div>
      <div class="right">
        <ul class="inline-list">
          <li><a href="">About Us</a></li>
          <li><a href="">Terms &amp; Condition</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href=""><%= image_tag("arrow_up.png", class: "arrow-up") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>